body {
background: white;
color: #333;
}
header {
  width: 100%;
  background: white;
  height: 50px;
  line-height: 50px;
} 
h1 {
  font-family:'Antic Didone', serif;
  text-align: center;
  font-weight: 100;
  font-size: 50px;
  letter-spacing: 0.02em;
  text-transform: lowercase;
  line-height: 0%;
  padding-bottom: 10px;
  color: #95B3D7;
}
h2 {
  font-family:'Antic Didone', serif;
  text-align: left;
  font-weight: 100;
  font-size: 60px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  line-height: 20%;
  padding-left: 10px;
}
a:hover {
  font-weight:200;
  color: #95B3D7;
}
a:link {
  text-decoration: none;
  color: #95B3D7;
}
a:visited {
  color: #95B3D7;
}
a:active {
  color: #95B3D7;
}
.titleWrap {
  position: relative;
}
.icons {
  text-align: center;
  padding: 1%;
  letter-spacing: .3em;
  line-height: 10%;
}
.icons a{
  color: silver;
}
.icons a:hover {
  color: #333;
}
.titleDescription {
  position: relative;
  visibility: hidden;
  font-family:'Lato', sans-serif;
  font-size: 20px;
  text-transform: lowercase;
  letter-spacing: 0.02em;
  font-weight: 100px;
  text-align: left;
  line-height: 30%;
}
.titleWrap:hover .titleDescription {
  visibility: visible;
}
